<header>
    <h2><%= link_to '' , groups_path, class: "glyphicon glyphicon-arrow-left" %></h2>
    <h1><%= @user.name %></h1>
    <h2><%= link_to "Log Out", logout_path %></h2>
</header>
<% @group.errors.full_messages.each do |error|%>
    <ul>
        <li><%= error %></li>
    </ul>
<% end %>
<%= form_for @group do |f|%>
    <%= f.text_field :name, placeholder: 'Add new group'  %>
    <%= f.file_field :icon %>
    <%= f.submit %>
<% end %>
