
<div class="groups">
    <header>
        <div class="princ">
            <h2><span class="glyphicon glyphicon-align-justify"></span></h2>
            <h1><%= pluralize(@groups.count, 'Teacher') %></h1>
            <h2><span class="glyphicon glyphicon-search"></span></h2>
        </div>
        <div class="order">
            <p>Most recent</p>
            <p>Most ancient</p>
        </div>
    </header>
    
    <section>
        <% @groups.each do |group| %>
            <article>
                <ul>
                    <li><%= image_tag url_for(group.icon) %></li>
                    <li id="details">Name: <%= link_to group.name, group %></li>
                    <li>Created on : <%= group.created_at.strftime("%d/%m/%Y") %></li>
                </ul>
            </article>
        <% end %>
        <button><%= link_to 'Create New', new_group_path %></button>
        <p id="back"><%= link_to 'Back', pages_profile_path %></p>
    </section>
</div>
