
<div class="groups">
    <header>
        <div class="princ">
            <div>
                <ul>
                    <li>
                        <%= link_to '', teachers_path, 
                        class: "glyphicon glyphicon-briefcase" %>
                    </li>        
                    <li>
                        <%= link_to '', external_teachers_path, 
                        class: "glyphicon glyphicon-sort-by-attributes-alt" %>
                    </li>
                </ul>
            </div>
            <h1><%= pluralize(@groups.count, 'Course') %></h1>
            <div><%= link_to '', logout_path, class: "glyphicon glyphicon-off" %></div>
        </div>
        <div class="order">
            <p>Most recent</p>
            <p>Most ancient</p>
        </div>
    </header>
    
    <section>
        <% @groups.each do |group| %>
            <article>
                <ul>
                    <li><%= image_tag url_for(group.icon) %></li>
                    <li id="details">Name: <%= link_to group.name, group %></li>
                    <li>Created on : <%= group.created_at.strftime("%d/%m/%Y") %></li>
                </ul>
            </article>
        <% end %>
        <button><%= link_to 'Create New Course', course_new_path %></button>
        <p id="back", class="btn btn-default"><%= link_to 'Back to profile', profile_path %></p>
    </section>
</div>
