<h1>Group</h1>
<p><%= @group.name %></p>
<p><%= image_tag url_for(@group.icon) %></p>
<p>Created by: <%= @group.user.name %></p>

<% @groups.each do |group| %>
    <p><%= link_to group.name, group %></p>
    <% if @group.user.id == @user.id %> 
        <%= link_to 'Delete Group', group_path(group_id: group.id), method: :delete, 
        data: {confirm: "Are you sure you want to remove the group ?"}, class: "btn btn-danger" %>
        <%= link_to 'Edit Group', edit_group_path(group_id: group.id), class: "btn btn-default" %>
    <% end %>
<% end %>

<h2>Transactions</h2>
<% @group_trans.each do |trans| %>
    <p><%= link_to trans.name, trans %></p>
    <% if @group.has?(trans) %>
        <%= link_to 'Delete', '', class: "btn btn-danger" %>
    <% else %>
        <%= form_for @group.group_transactions.build(transaction_id: trans.id) do |f| %>
            <%= f.hidden_field :transaction_id %>
            <%= f.hidden_field :group_id %>
            <button class="btn btn-primary">Add </button>
        <% end %>
    <% end %>
<% end %>


<p><%= link_to 'Back', groups_path %></p>
