<h1>Group</h1>
<p><%= @group.name %></p>
<p><%= image_tag url_for(@group.icon) %></p>
<p>Created by: <%= @group.user.name %></p>

<% @group_trans.each do |transaction| %>
    <p><%= link_to transaction.name, transaction %></p>
    <% if @group.user.id == @user.id %> 
        <%= link_to 'Delete Group', group_path(group_id: @group.id), method: :delete, 
        data: {confirm: "Are you sure you want to remove the group ?"}, class: "btn btn-danger" %>
        <%= link_to 'Edit Group', edit_group_path(group_id: @group.id), class: "btn btn-default" %>
    <% end %>
    <% if @group.has?(transaction) %>
        <%= link_to 'Delete','', class: "btn btn-danger" %>
    <% else %>
        <%= form_for @group.group_transactions.build(transaction_id: transaction.id) do |f| %>
            <%= f.hidden_field :transaction_id %>
            <%= f.hidden_field :group_id %>
            <button class="btn btn-primary">Add </button>
        <% end %>
    <% end %>
<% end %>

<p><%= link_to 'Back', groups_path %></p>
