<div class="sign_up">
    <header>
        <h2><%= link_to '' , root_path, class: "glyphicon glyphicon-arrow-left" %></h2>
        <h1>Sign Up</h1>
        <h2><%= link_to "Log In", login_path %></h2>
    </header>
    <ul class="alert-danger">
        <% @user.errors.full_messages.each do |error| %>
            <li class="alert"><%= error %></li>
        <% end %>
    </ul>
    <%= form_with(model: @user, local: true) do |f| %>
        <%= f.text_field :name, placeholder: "name" %>
        <%= f.hidden_field :avatar %>
        <%= f.submit "Submit", class: "submit" %>
    <% end %>
</div>
