<h1><%= pluralize(@transactions.count, 'Transaction') %></h1>

<p>Total: <%= @total %></p>
<% @transactions.each do |trans| %>
    <ul>
        <% if trans.groups.size >= 1%>
            <% trans.groups.each do |group| %>
                <li>Name: <%= link_to trans.name, trans %></li>
                <li>Amount: <%= trans.total %></li>
                <li><%= image_tag url_for(group.icon) %></li>
                <li>Created on : <%= trans.created_at.strftime("%d/%m/%Y") %></li>
            <% end %>
        <% end %>
    </ul>
    <hr>
<% end %>

<button><%= link_to 'New transaction', new_transaction_path %></button>

<p><%= link_to 'Back', pages_profile_path %></p>