<div class="transaction-home">
    <header>
        <div class="princ">
            <h2><span class="glyphicon glyphicon-align-justify"></span></h2>
            <h1><%= pluralize(@transactions.count, 'Course') %></h1>
            <h2><span class="glyphicon glyphicon-search"></span></h2>
        </div>
        <div class="order">
            <p>Most recent</p>
            <p>Most ancient</p>
        </div>
    </header>
    <section>
        <p>
            Total 
            <span><%= pluralize(@total,'hour') %></span>
        </p>
        <% @transactions.each do |trans| %>
            <% if trans.groups.size >= 1%>
                <article>
                    <% trans.groups.each do |group| %>
                        <ul>
                            <li><%= image_tag url_for(group.icon) %></li>
                            <li id="details"> 
                                <%= link_to trans.name, trans %>
                                <small>Created on : <%= trans.created_at.strftime("%d/%m/%Y") %></small>
                            </li>
                            <li>Time: <%= pluralize(trans.total, 'hour') %></li>
                        </ul>
                    <% end %>
                </article>
            <% end %>
        <% end %>

        <button><%= link_to 'Add Teacher', new_transaction_path %></button>

        <p id="back"><%= link_to 'Back', pages_profile_path %></p>
    </section>
</div>

