<div class="transaction">
    <header>
        <div class="princ">
            <h2><span class="glyphicon glyphicon-align-justify"></span></h2>
            <h1>Title : <%= @transaction.name %></h1>
            <h2><span class="glyphicon glyphicon-search"></span></h2>
        </div>
        <div class="order">
            <p>Most recent</p>
            <p>Most ancient</p>
        </div>
    </header>
    <section>
        <p id="total">Total : <%= @transaction.total %></p>
        <p>Created on : <%= @transaction.created_at.strftime("%d/%m/%Y") %> </p>
            <div class="buttons">
                <%= link_to 'Remove transaction', transaction_path(transaction_id: @transaction.id), method: :delete, 
                    data: {confirm: "Are you sure you want to remove the transaction ?"}, class: "btn btn-danger" %>
                <%= link_to 'Edit transaction', edit_transaction_path(transaction_id: @transaction.id), 
                class:"btn btn-primary" %>
            </div>
        <p id="back"><%= link_to 'Back', transactions_path %></p>
    </section>
    <footer id="footer-show">
        <p>scan</p>
    </footer>
</div>
